.st-poly0 {
  fill: url(#SVGID_1_);
}
.st-poly1 {
  fill: url(#SVGID_2_);
}
.st-poly2 {
  fill: url(#SVGID_3_);
}
.st-poly3 {
  fill: url(#SVGID_4_);
}
.st-poly4 {
  fill: url(#SVGID_5_);
}
.st-poly5 {
  fill: url(#SVGID_6_);
}
.st-poly6 {
  fill: url(#SVGID_7_);
}
.st-poly7 {
  fill: #ffffff;
}
.st-poly8 {
  fill: none;
}
.st-poly9 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
}
