#about {
  //padding-top: 125px;
  padding-bottom: calc(((100% * 114) / 1920) + 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $deep-blue;
  font-family: $poppins;
  position: relative;
  z-index: 4;

  h1 {
    background: linear-gradient(144.8deg, #e94560 52.24%, #ff6b00 163.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5vw;
    margin-bottom: 50px;
  }

  #about-text {
    display: flex;
  }

  #about-data {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;

    p {
      color: white;
    }

    #lang-list {
      color: white;
      display: flex;

      ul:not(:first-of-type) {
        margin-left: 5vw;
      }

      ul {
        li {
          list-style-position: inside;
        }
      }
    }
  }

  #about-img {
    position: relative;

    #img-bg {
      background: url("../../assets/me.jpg");
      background-size: cover;
      position: relative;
      z-index: 3;

      #about-gradient {
        transition: all 0.25s ease-in-out;
        width: 100%;
        height: 100%;
        background: linear-gradient(137.84deg, rgba(233, 69, 96, 0.5) 11.59%, rgba(255, 107, 0, 0.5) 125.66%);
      }
    }

    #img-outline {
      position: absolute;
      border-image-source: linear-gradient(142.54deg, #e94560 50.85%, #ff6b00 140.53%);
      border-image-slice: 5;
      top: 0;
      z-index: 0;
      transition: all 0.25s ease-in-out;
    }
  }

  #about-img:hover {
    #img-bg #about-gradient {
      opacity: 0.1;
    }

    #img-outline {
      transform: translate(25px, 25px);
    }
  }
}

@media (max-width: 767px) {
  #about {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 4vw;

    h1 {
      font-size: 10vw;
    }

    #about-img {
      $perc: 250px;
      width: $perc;
      height: $perc + 50px;
      margin-right: 50px;
      margin-bottom: 80px;

      #img-bg {
        width: $perc;
        height: $perc + 50px;
      }

      #img-outline {
        width: $perc;
        height: $perc + 50px;
      }
    }
    #about-text {
      padding: 0 1.5vw;
      flex-direction: column;
      align-items: center;
      font-size: 2.75vw;
    }
  }
}

@media (min-width: 768px) {
  #about {
    padding: 0 7.5vw;
    font-size: 1.15vw;
  }

  #about-img {
    $perc: 15vw;
    width: $perc;
    height: $perc + 5vw;
    margin-right: 150px; // Relative to #img-outline translate-x

    #img-bg {
      width: $perc;
      height: $perc + 5vw;
    }

    #img-outline {
      border: 5px solid transparent;
      transform: translate(25px, 25px);
      width: $perc;
      height: $perc + 5vw;
    }
  }
}

@media (min-width: 992px) {
  #about {
    padding: 0 10vw;
  }
}

@media (min-width: 1200px) {
  #about {
    padding: 0 7.5vw;
    font-size: 1.15vw;
  }

  #about-text {
    font-size: 1.25vw;
  }

  #about-img {
    $perc: 15vw;
    width: $perc;
    height: $perc + 5vw;
    margin-right: 150px; // Relative to #img-outline translate-x

    #img-bg {
      width: $perc;
      height: $perc + 5vw;
    }

    #img-outline {
      border: 10px solid transparent;
      transform: translate(45px, 45px);
      width: $perc;
      height: $perc + 5vw;
    }
  }
}

@media (min-width: 1500px) {
  // Empty
}
