@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

#about-techs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 120px;
    flex-wrap: wrap;

    .about-techs-item {
        display: flex;
        margin: 30px 0;
    }
}

.tech-logo {
    display: flex;
    flex-direction: column;
    cursor: default;
    margin: 0px 20px;
    transition: transform 0.2s ease-in-out;
    justify-content: center;
    align-items: center;

    .tech-logo-img {
        display: flex;
        justify-content: center;
        align-items: center;

        svg *, h3 {
            transition: fill 0.2s ease-in-out;
        }

        $size: 3vw;

        svg {
            width: $size;
            height: $size;


            path, rect {
                fill: $red;
            }
        }

        h3 {
            color: $red;
            height: $size;
            line-height: $size;
            text-align: center;
        }
    }

    .tech-logo-text {
        margin-top: 5px;
        p {
            color: white;
            text-align: center;
        }
    }
}

.tech-logo:hover {
    transform: scale(1.1);

    .tech-logo-img {
        svg {
            path, rect {
                fill: inherit;
            }
        }

        h3 {
            color: rgba(255, 255, 255, .75);
        }
    }
}

@media (max-width: 767px) {
    #about-techs {
        margin-top: 0px;
    
        .about-techs-item {
            margin: 35px 0;
        }
    }

    .tech-logo {
        margin: 0px 3.5vw;
    
        .tech-logo-img {
            $size: 8vw;
    
            svg {
                width: $size;
                height: $size;
    
            }
    
            h3 {
                color: $red;
                height: $size;
                line-height: $size;
                text-align: center;
            }
        }
    
        .tech-logo-text {
            margin-top: 12px;
            
            p {
                font-size: 2.5vw;
            }
        }
    }
}

@media (min-width: 768px) {
    #about-techs {
        margin-top: 80px;
    
        .about-techs-item {
            margin: 20px 0;
        }
    }

    .tech-logo {
        margin: 0px 3vw;
    
        .tech-logo-img {
            $size: 7vw;
    
            svg {
                width: $size;
                height: $size;
    
            }
    
            h3 {
                color: $red;
                height: $size;
                line-height: $size;
                text-align: center;
            }
        }
    
        .tech-logo-text {
            margin-top: 13px;
            
            p {
                font-size: 2.75vw;
            }
        }
    }
}

@media (min-width: 992px) {
    #about-techs {
        margin-top: 120px;
    
        .about-techs-item {
            margin: 30px 0;
        }
    }

    .tech-logo {
        margin: 0px 12px;
    
        .tech-logo-img {
            $size: 4.5vw;
    
            svg {
                width: $size;
                height: $size;
    
            }
    
            h3 {
                color: $red;
                height: $size;
                line-height: $size;
                text-align: center;
            }
        }
    
        .tech-logo-text {
            margin-top: 5px;
            
            p {
                font-size: 1.5vw;
            }
        }
    }
}

@media (min-width: 1200px) {
    #about-techs {
        margin-top: 120px;
    
        .about-techs-item {
            margin: 30px 0;
        }
    }

    .tech-logo {
        margin: 0px 20px;
    
        .tech-logo-img {
            $size: 3.5vw;
    
            svg {
                width: $size;
                height: $size;
    
            }
    
            h3 {
                color: $red;
                height: $size;
                line-height: $size;
                text-align: center;
            }
        }
    
        .tech-logo-text {
            margin-top: 5px;
            
            p {
                font-size: 1.2vw;
            }
        }
    }
}

@media (min-width: 1500px) {
    #about-techs {
        margin-top: 120px;
    
        .about-techs-item {
            margin: 30px 0;
        }
    }

    .tech-logo {
        margin: 0px 20px;
    
        .tech-logo-img {
            $size: 3.5vw;
    
            svg {
                width: $size;
                height: $size;
    
            }
    
            h3 {
                color: $red;
                height: $size;
                line-height: $size;
                text-align: center;
            }
        }
    
        .tech-logo-text {
            margin-top: 5px;
        }
    }
}
  