#header {
	width: 100%;
	height: 100vh;
	background: $deep-blue;
	color: white;
	font-family: $poppins;
	display: flex;

	#bottomsvg {
		position: absolute;
		bottom: 0;
	}

	#left-side {
		width: 80%;
		height: 100%;
		display: flex;
		flex-direction: column;

		#left-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		#name-text,
		#description-text,
		#header-button {
			width: 100%;
		}

		#name-text {
			p {
				color: $red;
				font-size: 2em;
			}

			h1 {
				font-size: 4em;
			}

			h2 {
				font-size: 3.5em;
				color: $grey;
				font-weight: 500;
			}
		}

		#description-text {
			p {
				color: $grey;
				margin: 100px 0;
				font-size: 1em;
			}
		}

		#header-button {
			a {
				color: white;
				text-decoration: none;
				padding: 10px 25px;
				font-size: 1.5em;
				background: $red;
			}

			svg {
				position: fixed;
				bottom: 0;
				transform: translateY(20px) translateX(-15px);
				left: 0;
				/*
			 SVG export from figma was not working correctly. This
			 translate positions the circle correctly
			*/
			}
		}
	}

	#right-side {
		width: 20%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		div {
			display: flex;
			flex-direction: column;
			height: 300px;
			justify-content: space-around;
		}

		svg {
			fill: white;
			opacity: 0.5;
			transition: all 0.25s ease-in-out;
		}

		svg:hover {
			fill: $red;
			opacity: 1;
		}
	}

	hr.right-bar {
		height: calc(50% - 150px);
		width: 3px;
		background: $red;
		border: none;
	}
}

@media (max-width: 576px) {
	#header {
		font-size: 6px;
	}
}

@media (min-width: 768px) {
	#header {
		font-size: 12px;
	}

	#header > #left-side {
		padding-left: 10vw;
	}

	#right-side svg {
		width: 50px;
		height: 50px;
	}

	#description-text p {
		width: 85%;
		font-size: 1.1em !important;
	}

	#left-content {
		padding-bottom: 50px;
		height: calc(100% - 50px);
	}

	#bottomsvg {
		width: 80%;
	}
}

@media (min-width: 992px) {
	#lang-slider {
		margin-left: 12%;
	}

	#left-content {
		padding-bottom: 0;
	}

	#header {
		font-size: 14px;
	}
}

@media (min-width: 1200px) {
	#header {
		font-size: 12px;
	}

	#header > #left-side {
		padding-left: 15vw;
	}

	#description-text p {
		margin: 100px 0;
		width: 55%;
	}

	#lang-slider {
		margin-left: 25%;
	}

	#bottomsvg {
		width: 80%;
	}
}

@media (min-width: 1500px) {
	#header {
		font-size: 16px;
	}

	#right-side svg {
		width: 60px;
		height: 60px;
	}

	#description-text p {
		margin: 100px 0;
	}

	#lang-slider {
		margin-left: 28%;
	}
}
