#header {
  width: 100%;
  height: 100vh;
  background: $deep-blue;
  color: white;
  font-family: $poppins;
  display: flex;

  #bottomsvg {
    position: absolute;
    bottom: 0;
    pointer-events: none;
  }

  #left-side {
    display: flex;
    flex-direction: column;

    #left-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #name-text,
    #description-text,
    #header-button {
      width: 100%;
    }

    #name-text {
      p {
        color: $red;
        font-size: 2em;
      }

      h1 {
        font-size: 4em;
      }

      h2 {
        font-size: 3.5em;
        color: $grey;
        font-weight: 500;
      }
    }

    #description-text {
      p {
        color: $grey;
      }
    }

    #header-button {
      span {
        font-size: 1.5em;
        background: $red;
		  padding: 10px 20px;
		  display: inline-block;
		}
		
      $translate: 10px;
		$shadow-color: #0b0b14;
		
      span:hover {
        -webkit-box-shadow: -$translate $translate 0px 0px $shadow-color;
        -moz-box-shadow: -$translate $translate 0px 0px $shadow-color;
        box-shadow: -$translate $translate 0px 0px $shadow-color;
        transform: translateX($translate);
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  #right-side {
    display: flex;
    justify-content: center;

    div {
      display: flex;
      justify-content: space-around;
    }

    svg {
      fill: white;
      opacity: 0.5;
      transition: all 0.25s ease-in-out;
    }

    svg:hover {
      fill: $red;
      opacity: 1;
    }
  }
}

@media (max-width: 576px) {
  #header {
    display: flex;
    flex-direction: column;
  }

  #left-content {
    height: 100%;
    width: 100%;
  }

  #left-side {
    width: 100%;
    height: 80%;
    padding: 0 15px;
    font-size: 2vw;

    #description-text p {
      font-size: 1.5em;
      margin: 10vw 0;
      width: 90%;
    }
  }

  #right-side {
    display: flex;
    width: 100%;
    height: 20%;

    $svg-dim: 30px;

    svg {
      width: $svg-dim;
      height: $svg-dim;
    }

    div {
      display: flex;
      width: 150px;
    }

    hr.right-bar {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  #header {
    font-size: 12px;
  }

  #header > #left-side {
    padding-left: 10vw;
  }

  #right-side {
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;

    div {
      height: 300px;
      flex-direction: column;
    }

    svg {
      width: 50px;
      height: 50px;
    }
  }

  #description-text p {
    width: 85%;
    font-size: 1.1em;
  }

  #left-content {
    padding-bottom: 50px;
    height: 95%;
  }

  #left-side {
    width: 80%;
    height: calc(100% - 50px);

    #description-text {
      p {
        margin: 75px 0;
        font-size: 1em;
      }
    }
  }

  #bottomsvg {
    width: 80%;
  }

  hr.right-bar {
    height: calc(50% - 150px);
    width: 3px;
    background: $red;
    border: none;
  }
}

@media (min-width: 992px) {
  #lang-slider {
    margin-left: 12%;
  }

  #left-content {
    padding-bottom: 0;
  }

  #header {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  #header #left-side {
    font-size: 16px;
  }

  #header > #left-side {
    padding-left: 15vw;
  }

  #description-text p {
    margin: 75px 0;
    width: 65%;
  }

  #lang-slider {
    margin-left: 25%;
  }

  #bottomsvg {
    width: 75%;
  }
}

@media (min-width: 1500px) {
  #header {
    font-size: 16px;
  }

  #right-side svg {
    width: 60px;
    height: 60px;
  }

  #description-text p {
    margin: 100px 0;
  }

  #lang-slider {
    margin-left: 28%;
  }
}
