@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$deep-blue: #131323;
$light-blue: #1A1A2E;
$red: #E94560;
$orange: #FF6B00;
$grey: #A6A6A6;

$poppins: 'Poppins', sans-serif;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}