#skills {
  padding-top: 125px;
  padding-bottom: calc(((100% * 114) / 1920) + 125px);
  box-sizing: content-box;
  width: 100%;
  background: $light-blue;
  display: flex;
  font-family: $poppins;
  position: relative;

  .skills-container {
    display: flex;
    flex-direction: column;
  }

  #skills-left {
    align-items: center;
  }

  #skills-right {
    justify-content: center;

    h1 {
      background: linear-gradient(180deg, #e94560 -27.22%, #ff6b00 214.44%);
      background: -webkit-linear-gradient(
        180deg,
        #e94560 -27.22%,
        #ff6b00 214.44%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3em;
      width: 100%;
    }

    .skills-text {
      width: 80%;
      color: white;
    }

    p {
      font-size: 1.2em;
      padding: 50px 0;
    }

    #skills-list {
      color: white;
      display: flex;

      ul {
        width: 33%;
        font-size: 1.2em;
        list-style-position: inside;
      }
    }
  }
}

@media (max-width: 768px) {
  #skills {
    flex-direction: column-reverse;
    font-size: 12px;

    .skills-container {
      width: 100%;
    }

    #skills-right {
      padding-left: 20px;
    }

    #skills-left {
		margin-top: 30px;
		
		svg {
			width: 80%;
		}
    }
  }
}

@media (min-width: 769px) {
  #skills {
    .skills-container {
      width: 50%;
    }

    #skills-left {
      svg {
		  width: 60%;
      }
    }
  }
}
